* {
    font-family: cursive;
    margin: 2px;
    padding: 2px;
  }
  
  table {
      border: 1px solid black;
      width: 1200px;
  }
  tr:nth-child(even) {
      background-color:rgb(233, 141, 184);
      width: 500px;
  }
  
  tr:nth-child(odd) {
      background-color:rgba(233, 120, 233, 0.288);
      width: 500px;
  }
  td{
      width: 900px;
      height: 50px;;
  }
  
  th {
      text-align: left;
  }
#add{
    margin-left: 320px;
}
button{
    margin-left: 200px;
    background-color: aqua;
    width: 120px;
    height: 75px;
    border-radius: 10px;
}