{% extends 'base_layout.html' %}
    
{% block content %}
    <h1>This is a test for this page</h1>
    <div class = 'articles'>
        {% for article in articles %}
            <div class="article">
               <h2><a href="{% url 'alpha_app:details' slug=article.slug %}">{{article.title}}</a></h2> <!--double braces output data -->
               <p>{{article.snippet}}</p>
               <p>{{article.date}}}</p>
            </div>
        {% endfor %}
    </div><br><br>
    <p>If this works, it's a success!</p>
{% endblock %}