{% load static from staticfiles %} <!-- loads the static files for us all through -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Courses</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <link rel="stylesheet" href="{% static '/courses.css' %}">
        <link rel="stylesheet" href="{% static '/login.css' %}">
        <!-- <link rel="stylesheet" href="/static/styles.css"> works but is not necessary as we would have to manually change every html document if any changes happened in settings-->
    </head>
    <body>
        <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>