body{
    background-color: #fff;
    border: 2px solid #fff;
    padding: 20px;
    margin: 20px;
    /* color: #fff; */
    background-image: url(ad_background.png)
}
#wrapper{
    margin: 0px auto;
    height: 1000px;
    width: 1000px;
    text-align: center;
}

#header{
    margin: 20px;
    height: 20px;
    width: 400px;
    display: inline-block;
    margin-left: 200px;
    color: #fff;
}
#display{
    margin: 20px;    
    height: 120px;
    width: 400px;
    margin-left: 500px;
    color: #fff;
}
h2{
    margin-left: 200px;
    color: #fff;
}