<!DOCTYPE html>
<html>
<head>
	<title>Ninja Gold</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gold.css') }}">
</head>
<body>
	<div id = 'container'>
		<h1>Ninja Gold</h1>
		<h3>Your Gold: {{session['goldcount']}} </h3>
		<div class ='boxes'>
			<h2>Farm</h2>
			<p>(earns 10-20 gold)</p>
			<form action='/process_gold' method='post'>
				<input type='hidden' name='action' value='farm'>
				<input type='submit' name='submit' value='Find Gold'>
			</form>
		</div>
		<div class ='boxes'>
			<h2>Cave</h2>
			<p>(earns 5-10 gold)</p>
			<form action='/process_gold' method='post'>
				<input type='hidden' name='action' value='cave'>
				<input type='submit' name='submit' value='Find Gold'>
			</form>
		</div>
		<div class ='boxes'>
			<h2>House</h2>
			<p>earns 2-5 gold</p>
			<form action='/process_gold' method='post'>
				<input type='hidden' name='action' value='house'>
				<input type='submit' name='submit' value='Find Gold'>
			</form>
		</div>
		<div class ='boxes'>
			<h2>Casino</h2>
			<p>earns/takes 0-50 gold)</p>
			<form action='/process_gold' method='post'>
				<input type='hidden' name='action' value='casino'>
				<input type='submit' name='submit' value='Find Gold'>
			</form>
		</div>
		<h3>Activities:</h3>
		<div id='activities'>
			{% if messages %}
				{% for message in messages %}
					{% if "Ouch" in message %}
						<p style='color: red'>{{message}}</p>
					{% else %}
						<p style='color: green'>{{message}}</p>
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
		<a href="/reset"><button id ='reset'>Start Over</button></a>
	</div>
</body>
</html>